EIA_API_KEY=your_eia_api_key_here

DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/electricity_pipeline
ENABLE_POSTGRES_LOAD=false

ENABLE_AZURE_UPLOAD=false
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here
AZURE_STORAGE_CONTAINER=electricity-pipeline